[flake8]
max-line-length = 88
extend-ignore = E203
exclude =
    docs/*,
    .git,
    __pycache__,
    build,
    sdist,
    dist,
ignore = E501,W504,W503,F541,E741,W605
per-file-ignores =
    **/__init__.py:F401
