numpy>=1.21.0
pandas>=1.4.0
scipy>=1.5.0
scikit-learn>=0.24.0
scikit-optimize>=0.8.1
pyzmq>=20.0.0
colorama>=0.4.4
cloudpickle>=1.5.0
click>=7.1.2
requirements-parser>=0.2.0
shap>=0.40.0
statsmodels>=0.12.2
texttable>=1.6.2
woodwork>=0.12.0,<0.14.0
dask>=2021.10.0
nlp-primitives>=2.1.0
featuretools>=1.2.0
networkx>=2.5,<2.6
