botocore<=1.13.8
boto3<=1.10.8
scipy>=1.2.1
scikit-learn>=0.21.3,!=0.22
dask[complete]>=2.1.0
numpy>=1.16.4
pandas>=0.25.0
tqdm>=4.33.0
scikit-optimize[plots]
colorama
s3fs==0.2.2
joblib>=0.13
category_encoders>=2.0.0
cloudpickle>=0.2.2
plotly>=4.2.1
ipywidgets>=7.5
catboost>=0.20
xgboost>=0.82
