version: 2.1


executors:
  python:
    parameters:
      python_version:
        type: string
        default: "3.7"
    working_directory: ~/evalml
    docker:
      - image: circleci/python:<< parameters.python_version >>

commands:
  install_dependencies:
    steps:
      - run: |
            virtualenv test_python -q
            source test_python/bin/activate
            make installdeps
            pip install -r test-requirements.txt

jobs:
  lint_test:
      parameters:
        python_version:
          type: string
          default: "3.7"
      executor:
        name: python
        python_version: << parameters.python_version >>
      steps:
        - checkout
        - install_dependencies
        - run: |
            source test_python/bin/activate
            make lint

  unit_tests:
    parameters:
      python_version:
        type: string
        default: "3.7"
      codecov:
        type: boolean
        default: false
    executor:
        name: python
        python_version: << parameters.python_version >>
    steps:
      - run: sudo apt update && sudo apt install -y graphviz
      - checkout
      - install_dependencies
      - run: |
          source test_python/bin/activate
          coverage erase
          make circleci-test
      - store_test_results:
          path: test-reports
      - store_artifacts:
          path: test-reports
      - when:
          condition: << parameters.codecov >>
          steps:
            - run: |
                source test_python/bin/activate
                codecov
  
  changelog_updated:
    working_directory: ~/evalml
    docker:
      - image: busybox:latest
    steps:
      - checkout
      - run: echo "${CIRCLE_PULL_REQUEST##https://github.com/FeatureLabs/evalml/pull/}"
      - run: cat docs/source/changelog.rst | grep ":pr:\`${CIRCLE_PULL_REQUEST##https://github.com/FeatureLabs/evalml/pull/}\`"

  build_docs:
    working_directory: ~/evalml/
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - install_dependencies
      - run: sudo apt update && sudo apt install -y pandoc
      - run: source test_python/bin/activate ; make -C docs/ html
      - run: ls docs/build/html

workflows:
  version: 2
  changelog_updated:
    jobs:
      - changelog_updated:
          name: "changelog updated"
          filters:
            branches:
              ignore: /^master?/
  build_docs:
    jobs:
      - build_docs:
          name: "build docs"
  test_all_python_versions:
    jobs:
      - lint_test:
          name: "python 3.5 lint test"
          python_version: "3.5"
      - lint_test:
          name: "python 3.6 lint test"
          python_version: "3.6"
      - lint_test:
          name: "python 3.7 lint test"
          python_version: "3.7"
      - unit_tests:
          name: "python 3.5 unit tests"
          python_version: "3.5"
      - unit_tests:
          name: "python 3.6 unit tests"
          python_version: "3.6"
      - unit_tests:
          name: "python 3.7 unit tests"
          python_version: "3.7"
          codecov: true