black[jupyter]==22.3.0
catboost==1.1.1
category-encoders==2.2.2
click==8.0.0
cloudpickle==1.5.0
colorama==0.4.4
dask==2022.2.0
distributed==2022.2.0
featuretools[dask]==1.16.0
graphviz==0.13
holidays==0.13
imbalanced-learn==0.9.1
ipywidgets==7.5
kaleido==0.1.0
lightgbm==2.3.1
lime==0.2.0.1
matplotlib==3.3.3
networkx==2.6
nlp-primitives==2.9.0
numpy==1.21.0
packaging==23.0
pandas==1.5.0
plotly==5.0.0
pmdarima==1.8.5
pyzmq==20.0.0
scikit-learn==1.2.2
scikit-optimize==0.9.0
scipy==1.5.0
seaborn==0.11.1
shap==0.40.0
sktime==0.17.0
statsmodels==0.12.2
texttable==1.6.2
tomli==2.0.1
vowpalwabbit==8.11.0
woodwork[dask]==0.22.0
xgboost==1.7.0
