name: Build Conda Package

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - main

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Shellcheck
        uses: reviewdog/action-shellcheck@v1
        with:
          python-version: '3.8.x'
  build_conda_pkg:
    runs-on: ubuntu-latest
    needs: shellcheck
#    if: github.ref == 'refs/head/main'
    steps:
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install Dependencies
        run: |
          pip install virtualenv
          virtualenv test_python -q
          source test_python/bin/activate
          make installdeps-test
      - run: |
          git clone https://github.com/conda-forge/evalml-core-feedstock
          source test_python/bin/activate
          mkdir evalml-core-feedstock/evalml
          cp -r `ls -A | grep -v "evalml-core-feedstock"` ./evalml-core-feedstock/evalml/
          python .github/conda_config.py "$(python setup.py --version)"
          cd evalml-core-feedstock
          echo "$DOCKERHUB_PASSWORD" | docker login -u $DOCKERHUB_USERNAME --password-stdin
          export DOCKER_CONTAINERID="$(docker run -td condaforge/linux-anvil-cos7-x86_64)"
          echo "Created container ${DOCKER_CONTAINERID}"
          chmod -R 777 ./
          docker cp . ${DOCKER_CONTAINERID}:/home/conda/feedstock_root/
          docker cp ./recipe/. ${DOCKER_CONTAINERID}:/home/conda/recipe_root/
          echo "COMMITING UPDATED IMAGE"
          docker commit ${DOCKER_CONTAINERID} psalter/build:latest
          docker stop ${DOCKER_CONTAINERID}
          export CONFIG=linux_64_
          export UPLOAD_PACKAGES=False
          export HOST_USER_ID=$(id -u)
          export FEEDSTOCK_NAME=evalml-core-feedstock
          docker run -t -e CONFIG -e HOST_USER_ID -e UPLOAD_PACKAGES -e GIT_BRANCH -e UPLOAD_ON_BRANCH -e CI -e FEEDSTOCK_NAME -e CPU_COUNT -e BINSTAR_TOKEN -e FEEDSTOCK_TOKEN -e STAGING_BINSTAR_TOKEN psalter/build:latest bash /home/conda/feedstock_root/.scripts/build_steps.sh
