on:
  pull_request:
    types: [opened, synchronize]
    paths:
      - 'evalml/utils/update_checker.py'
  push:
    branches:
      - main

name: Install Test
jobs:
  install:
    name: ${{ matrix.os }} - ${{ matrix.python_version }} install evalml
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python_version: ["3.8", "3.9", "3.10"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up python ${{ matrix.python_version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python_version }}
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Build evalml package
        run: make package
      - name: Install EvalML and update checker
        run: |
          pip config --site set global.progress_bar off
          python -m pip install "unpacked_sdist/[updater]"
      - name: Test by importing packages
        run: |
          python -c "import evalml"
          python -c "import alteryx_open_src_update_checker"
          python -c "from evalml.demos import load_fraud; load_fraud()"
          python -c "from evalml.demos import load_diabetes; load_diabetes()"
          python -c "from evalml.demos import load_churn; load_churn()"
        env:
          # Disables API requests which is not needed for testing.
          ALTERYX_OPEN_SRC_UPDATE_CHECKER: False
      - name: Check package conflicts
        run: |
          python -m pip check
